

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listagem de Pacientes</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <h1>Listagem de Pacientes</h1>

  <ul>
    <% pacientes.forEach(paciente => { %>
      <li>
        <strong>ID:</strong> <%= paciente.id %>,
        <strong>Nome:</strong> <%= paciente.nome %>,
        <strong>CPF:</strong> <%= paciente.cpf %>
      </li>
    <% }); %>
  </ul>
</body
