<!-- visualizacoes/clientes/editarCliente.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cliente</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Editar Cliente <%= id %></h1>

  <!-- Seu código EJS para editar clientes aqui -->

</body>
</html>
